<h2>Videos</h2>

<div>
  <%= link "New Video", to: video_path(@conn, :new) %>
</div>

<div>
  <ul id="videos-list">
    <%= for video <- @videos do %>
      <li>
        <%= video.title %> -
        <em><%= display_duration(video.duration) %></em>
      </li>
    <% end %>
  </ul>
</div>
