<h2>Videos</h2>

<div>
  <%= link "New Video", to: video_path(@conn, :new) %>
</div>

<div>
  <ul id="videos-list">
    <%= for video <- @videos do %>
      <li>
        <%= video.title %> -
        <em><%= display_duration(video.duration) %></em> -
        <%=
          link "Delete", to: video_path(@conn, :delete, video.id),
            method: :delete, data: [confirm: "Are you sure you want to remove Video ID: #{video.id}?"]
        %>
      </li>
    <% end %>
  </ul>
</div>
