<h2>New Video</h2>

<div>
  <%= form_for @changeset, video_path(@conn, :create), fn(form) -> %>
    <div>
      Title: <%= text_input form, :title %>
      <%= error_tag form, :title %>
    </div>
    <div>
      Duration: <%= text_input form, :duration %>
      <%= error_tag form, :duration %>
    </div>
    <div>
      <%= submit "Create" %>
    </div>
  <% end %>
</div>

<div>
  <%= link "Videos Index", to: video_path(@conn, :index) %>
</div>
